body {
  background-color: #666;
  color: #eee;
  padding: 20px;
}

.folder-drop-bg {
  position: absolute;
}

upload-app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0 1fr 4px;
  border: 1px solid #ccc;
  background-color: #999;
  border-radius: 3px;
  height: 90vh;
  box-shadow: 1px 1px 10px 1px #000;
}

ui-js-fileupload {
  visibility: hidden;
}

ui-js-fileupload > form {
  padding: 20px;
}

ui-js-fileupload > .upload-files {
  padding: 20px;
}

ui-js-fileupload > .progress {
  padding: 20px;
}

ui-js-fileupload > .progress > .progress-bar {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: aquamarine;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #444;
}

ui-js-fileupload .upload-file {
  display: table;
}

ui-js-fileupload .upload-file * {
  padding-right: 4px;
  display: table-cell;
  vertical-align: middle;
}

ui-js-fileupload > .message {
  padding: 20px;
}

.file-select-btn {
  position: absolute;
  bottom: 36px;
  right: 16px;
  height: 60px;
  width: 60px;
  box-shadow: 1px 1px 6px 0px #333;;
}

.list-item-icon {
  padding: 0 !important;
}

.list-item-text {
  color: black;
}

.list-item-icon i {
  background-color: steelblue;
  height: 40px;
  width: 40px !important;
  text-align: center;
  padding: 8px 3px !important;
}